<!-- <textarea rows="6"value="Test">{{newPost2}}</textarea>
<textarea rows="6" [value]="newPost2" #postInput></textarea> -->
<!-- 2 way binding ex: -->
<!-- <textarea rows="6" [(ngModel)]="enteredValue"></textarea> -->



<!-- NOTE! : property binding from the comp to the template and template to comp 
() temp to comp, [] comp to temp!  you can use vars and such this way 
as well. -->
<!-- <hr> -->
<!-- <button (click)="onAddPost(postInput)">save posts</button> -->
<!-- <button (click)="onAddPost()">Save Post</button>
<p>{{ newPost2 }}</p> -->